*{
    padding: 0px;
}
body{
background-color: rgb(97, 86, 139);
} 
.t-2{
    background-color: white;
    width: 250px;
    height: 7rem;
    text-align: center;
    margin-top: 50%;
    margin-left: 30%;
    background: red;
    
}