body{
    background:#1e3460;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: rgb(4, 134, 200);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(62, 46, 42, 0.658);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#res{
    width: 200px;
    height: 191px;
    margin-left: 286px;
    margin-top: -196px;
    border: 4px dashed rgb(230, 61, 61);
}